<ion-app>
<ion-content color="dark">
            <ion-text class="titulo">
              <ion-button size="large" fill="clear" class="boton anim">INFORMACIÓN</ion-button>
              <br>
              <ion-button size="large" fill="clear" class="boton anim">ESCOLARIDAD</ion-button>
              <br>
              <ion-button size="large" fill="clear" class="boton anim">EXPERIENCIA</ion-button>
              <br>
              <ion-button size="large" fill="clear" class="boton anim">PASATIEMPOS</ion-button>
            </ion-text>
  </ion-content>
</ion-app>